<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bztitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,980},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>hdtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,980},{70,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{70,34}</string>
            </dict>
            <key>helpbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,976}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,976}}</string>
                <key>sourceSize</key>
                <string>{668,976}</string>
            </dict>
            <key>jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>phtitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,980},{71,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,33}}</string>
                <key>sourceSize</key>
                <string>{71,33}</string>
            </dict>
            <key>sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,980},{296,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{296,33}}</string>
                <key>sourceSize</key>
                <string>{300,33}</string>
            </dict>
            <key>tp.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>xxtztitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{143,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,35}}</string>
                <key>sourceSize</key>
                <string>{143,35}</string>
            </dict>
            <key>yp.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e162d9ef3560f39c9568c83d9aae5b64$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
