<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hall_bag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,560},{86,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hall_bag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hall_boli1.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,440},{226,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{226,148}}</string>
                <key>sourceSize</key>
                <string>{242,162}</string>
            </dict>
            <key>Hall_boli2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,133},{230,150}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{230,150}}</string>
                <key>sourceSize</key>
                <string>{242,162}</string>
            </dict>
            <key>Hall_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,129}}</string>
                <key>sourceSize</key>
                <string>{640,131}</string>
            </dict>
            <key>Hall_game1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{82,81}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{82,81}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>Hall_game2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,648},{92,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,83}}</string>
                <key>sourceSize</key>
                <string>{100,87}</string>
            </dict>
            <key>Hall_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,472},{86,86}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hall_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,796},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Hall_help_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,398},{129,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{129,33}}</string>
                <key>sourceSize</key>
                <string>{135,43}</string>
            </dict>
            <key>Hall_nr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,433},{151,122}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{151,122}}</string>
                <key>sourceSize</key>
                <string>{189,134}</string>
            </dict>
            <key>Hall_nr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,649},{161,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{161,120}}</string>
                <key>sourceSize</key>
                <string>{189,134}</string>
            </dict>
            <key>Hall_nr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,797},{153,118}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{153,118}}</string>
                <key>sourceSize</key>
                <string>{189,134}</string>
            </dict>
            <key>Hall_rw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,812},{207,181}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{207,181}}</string>
                <key>sourceSize</key>
                <string>{227,205}</string>
            </dict>
            <key>Hall_rw2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,590},{225,205}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{225,205}}</string>
                <key>sourceSize</key>
                <string>{227,205}</string>
            </dict>
            <key>Hall_rw3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,285},{227,153}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{227,153}}</string>
                <key>sourceSize</key>
                <string>{227,205}</string>
            </dict>
            <key>Hall_shop_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,260},{117,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{117,62}}</string>
                <key>sourceSize</key>
                <string>{127,74}</string>
            </dict>
            <key>Hall_shop_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{133,57}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{133,57}}</string>
                <key>sourceSize</key>
                <string>{147,73}</string>
            </dict>
            <key>Hall_shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,379},{91,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{91,62}}</string>
                <key>sourceSize</key>
                <string>{101,68}</string>
            </dict>
            <key>Hall_shop_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,586},{121,61}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{121,61}}</string>
                <key>sourceSize</key>
                <string>{127,69}</string>
            </dict>
            <key>Hall_shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,733},{92,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{92,61}}</string>
                <key>sourceSize</key>
                <string>{102,75}</string>
            </dict>
            <key>Hall_shop_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,137},{121,62}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{121,62}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>Hall_shop_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,790},{162,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,144}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>Hall_shop_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,626},{162,144}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{162,144}}</string>
                <key>sourceSize</key>
                <string>{172,156}</string>
            </dict>
            <key>Hall_shop_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,888},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Hall_shop_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Hall_star1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{258,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{258,114}}</string>
                <key>sourceSize</key>
                <string>{278,142}</string>
            </dict>
            <key>Hall_star2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{248,110}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{248,110}}</string>
                <key>sourceSize</key>
                <string>{278,142}</string>
            </dict>
            <key>Hall_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Hall_window.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{400,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,263}}</string>
                <key>sourceSize</key>
                <string>{400,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_hall.png</string>
            <key>size</key>
            <string>{703,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1677af2a37c5f6ed805edefddac6a861$</string>
            <key>textureFileName</key>
            <string>DDZ_hall.png</string>
        </dict>
    </dict>
</plist>
