<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DDZ_result_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{190,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,40}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>Hall_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,500},{640,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,129}}</string>
                <key>sourceSize</key>
                <string>{640,131}</string>
            </dict>
            <key>Hall_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1798},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Room_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,967},{83,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,56}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>Room_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1138}}</string>
                <key>sourceSize</key>
                <string>{640,1138}</string>
            </dict>
            <key>Room_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1589},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_bujiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,1804},{106,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,42}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>Room_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1798},{109,61}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,61}}</string>
                <key>sourceSize</key>
                <string>{117,61}</string>
            </dict>
            <key>Room_bupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1729},{74,43}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,43}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
            <key>Room_buq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1247},{75,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{75,42}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>Room_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1790},{94,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{94,51}}</string>
                <key>sourceSize</key>
                <string>{102,61}</string>
            </dict>
            <key>Room_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1652},{136,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>Room_but1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1663},{136,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>Room_chognx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1959},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,873},{211,95}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{211,95}}</string>
                <key>sourceSize</key>
                <string>{225,109}</string>
            </dict>
            <key>Room_confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1290},{201,91}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{201,91}}</string>
                <key>sourceSize</key>
                <string>{225,109}</string>
            </dict>
            <key>Room_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,849},{210,99}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{210,99}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1086},{202,95}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{202,95}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_gongg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1972},{566,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{566,53}}</string>
                <key>sourceSize</key>
                <string>{570,55}</string>
            </dict>
            <key>Room_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1171,1973},{49,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{49,50}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>Room_hosting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,1663},{125,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,149}</string>
            </dict>
            <key>Room_hosting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1663},{127,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{127,133}}</string>
                <key>sourceSize</key>
                <string>{127,149}</string>
            </dict>
            <key>Room_jcf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1061},{184,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{184,50}}</string>
                <key>sourceSize</key>
                <string>{190,56}</string>
            </dict>
            <key>Room_jdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,829},{136,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,51}}</string>
                <key>sourceSize</key>
                <string>{148,53}</string>
            </dict>
            <key>Room_jiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1324},{75,45}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,45}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>Room_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1973},{94,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{94,51}}</string>
                <key>sourceSize</key>
                <string>{108,61}</string>
            </dict>
            <key>Room_lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{597,507}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{597,507}}</string>
                <key>sourceSize</key>
                <string>{597,523}</string>
            </dict>
            <key>Room_lose_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,1142},{520,334}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,334}}</string>
                <key>sourceSize</key>
                <string>{520,362}</string>
            </dict>
            <key>Room_lose_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{337,162}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{337,162}}</string>
                <key>sourceSize</key>
                <string>{345,172}</string>
            </dict>
            <key>Room_lzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1801},{79,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,89}}</string>
                <key>sourceSize</key>
                <string>{85,93}</string>
            </dict>
            <key>Room_meiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1083},{423,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{423,51}}</string>
                <key>sourceSize</key>
                <string>{435,67}</string>
            </dict>
            <key>Room_nbujiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1970},{136,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{136,51}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>Room_nbut.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1907},{136,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>Room_nbut1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,1652},{136,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>Room_qdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1664},{138,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{138,52}}</string>
                <key>sourceSize</key>
                <string>{146,62}</string>
            </dict>
            <key>Room_qiangdiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1861},{108,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{108,44}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>Room_quitDesk.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,500},{581,460}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{581,460}}</string>
                <key>sourceSize</key>
                <string>{581,472}</string>
            </dict>
            <key>Room_ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,326},{210,93}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{210,93}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,538},{202,91}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{202,91}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_setting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2},{312,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{312,27}}</string>
                <key>sourceSize</key>
                <string>{322,35}</string>
            </dict>
            <key>Room_setting_barp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{322,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,35}}</string>
                <key>sourceSize</key>
                <string>{322,35}</string>
            </dict>
            <key>Room_setting_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1651},{581,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,319}}</string>
                <key>sourceSize</key>
                <string>{581,319}</string>
            </dict>
            <key>Room_setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,1401},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Room_setting_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,1790},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Room_setting_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,742},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Room_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1886},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Room_shezhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1877},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Room_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1265},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1813},{338,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,97}}</string>
                <key>sourceSize</key>
                <string>{338,97}</string>
            </dict>
            <key>Room_toux.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,1493},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>Room_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1851},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>Room_tuichu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1952},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>Room_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1912},{499,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,56}}</string>
                <key>sourceSize</key>
                <string>{499,56}</string>
            </dict>
            <key>Room_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{578,496}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{578,496}}</string>
                <key>sourceSize</key>
                <string>{578,506}</string>
            </dict>
            <key>Room_win_eff.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,1142},{519,330}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,330}}</string>
                <key>sourceSize</key>
                <string>{525,330}</string>
            </dict>
            <key>Room_win_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1664},{309,147}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{309,147}}</string>
                <key>sourceSize</key>
                <string>{313,151}</string>
            </dict>
            <key>Room_xiaop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1086},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>ddz_icon_disconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1947},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1527},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_noming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1921},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_popup_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{1407,1450},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,1774},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_nocall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1652},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_nodouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1380},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_noqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,1310},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1882},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,341},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>ddz_waiting_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1970},{350,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,33}}</string>
                <key>sourceSize</key>
                <string>{350,33}</string>
            </dict>
            <key>ddzn_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,240},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ddzn_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,1083},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>ddzn_nongming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,282},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>land_owner_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,194},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>msg_nobigger_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,341},{506,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,74}}</string>
                <key>sourceSize</key>
                <string>{506,74}</string>
            </dict>
            <key>ready_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,1061},{202,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_room.png</string>
            <key>size</key>
            <string>{1496,2027}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b327bfc45794a8e93947661632bc59e:1/1$</string>
            <key>textureFileName</key>
            <string>DDZ_room.png</string>
        </dict>
    </dict>
</plist>
