<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DDZ_result_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,526},{190,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{190,40}}</string>
                <key>sourceSize</key>
                <string>{210,56}</string>
            </dict>
            <key>Hall_dibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{640,129}}</string>
                <key>sourceSize</key>
                <string>{640,131}</string>
            </dict>
            <key>Hall_tx.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,703},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>Room_beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,384},{83,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,56}}</string>
                <key>sourceSize</key>
                <string>{85,58}</string>
            </dict>
            <key>Room_buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,809},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_bujiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,189},{106,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{106,42}}</string>
                <key>sourceSize</key>
                <string>{110,54}</string>
            </dict>
            <key>Room_bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,789},{109,61}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,61}}</string>
                <key>sourceSize</key>
                <string>{117,61}</string>
            </dict>
            <key>Room_bupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,764},{74,43}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{74,43}}</string>
                <key>sourceSize</key>
                <string>{84,47}</string>
            </dict>
            <key>Room_buq.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,387},{75,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{75,42}}</string>
                <key>sourceSize</key>
                <string>{87,48}</string>
            </dict>
            <key>Room_buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,771},{94,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{94,51}}</string>
                <key>sourceSize</key>
                <string>{102,61}</string>
            </dict>
            <key>Room_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,704},{136,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>Room_but1.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,568},{136,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,65}}</string>
                <key>sourceSize</key>
                <string>{140,67}</string>
            </dict>
            <key>Room_chognx.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,753},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_confirm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,189},{211,95}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{211,95}}</string>
                <key>sourceSize</key>
                <string>{225,109}</string>
            </dict>
            <key>Room_confirm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,387},{201,91}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{201,91}}</string>
                <key>sourceSize</key>
                <string>{225,109}</string>
            </dict>
            <key>Room_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,189},{210,99}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{210,99}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,290},{202,95}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{202,95}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_gongg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{566,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{566,53}}</string>
                <key>sourceSize</key>
                <string>{570,55}</string>
            </dict>
            <key>Room_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,480},{49,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{49,50}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>Room_hosting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,569},{125,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{125,133}}</string>
                <key>sourceSize</key>
                <string>{127,149}</string>
            </dict>
            <key>Room_hosting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,568},{127,133}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{127,133}}</string>
                <key>sourceSize</key>
                <string>{127,149}</string>
            </dict>
            <key>Room_jcf.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,474},{184,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{184,50}}</string>
                <key>sourceSize</key>
                <string>{190,56}</string>
            </dict>
            <key>Room_jdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,533},{136,51}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{136,51}}</string>
                <key>sourceSize</key>
                <string>{148,53}</string>
            </dict>
            <key>Room_jiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,625},{75,45}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,45}}</string>
                <key>sourceSize</key>
                <string>{83,49}</string>
            </dict>
            <key>Room_jiabei.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,529},{94,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{94,51}}</string>
                <key>sourceSize</key>
                <string>{108,61}</string>
            </dict>
            <key>Room_lose_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{337,162}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{337,162}}</string>
                <key>sourceSize</key>
                <string>{345,172}</string>
            </dict>
            <key>Room_lzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,706},{79,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{79,89}}</string>
                <key>sourceSize</key>
                <string>{85,93}</string>
            </dict>
            <key>Room_meiyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,136},{423,51}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{423,51}}</string>
                <key>sourceSize</key>
                <string>{435,67}</string>
            </dict>
            <key>Room_nbujiab.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,480},{136,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{136,51}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>Room_nbut.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,480},{136,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>Room_nbut1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,586},{136,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{136,64}}</string>
                <key>sourceSize</key>
                <string>{140,66}</string>
            </dict>
            <key>Room_qdz.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,574},{138,52}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{138,52}}</string>
                <key>sourceSize</key>
                <string>{146,62}</string>
            </dict>
            <key>Room_qiangdiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,652},{108,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{108,44}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>Room_ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,286},{210,93}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{210,93}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,381},{202,91}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{202,91}}</string>
                <key>sourceSize</key>
                <string>{234,103}</string>
            </dict>
            <key>Room_setting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{312,27}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{312,27}}</string>
                <key>sourceSize</key>
                <string>{322,35}</string>
            </dict>
            <key>Room_setting_barp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,723},{322,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,35}}</string>
                <key>sourceSize</key>
                <string>{322,35}</string>
            </dict>
            <key>Room_setting_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,771},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{46,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>Room_setting_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,771},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Room_setting_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,297},{85,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{85,85}}</string>
                <key>sourceSize</key>
                <string>{95,93}</string>
            </dict>
            <key>Room_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,685},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Room_shezhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,618},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>Room_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,698},{74,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,43}}</string>
                <key>sourceSize</key>
                <string>{78,43}</string>
            </dict>
            <key>Room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{338,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,97}}</string>
                <key>sourceSize</key>
                <string>{338,97}</string>
            </dict>
            <key>Room_toux.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,410},{136,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,157}}</string>
                <key>sourceSize</key>
                <string>{136,157}</string>
            </dict>
            <key>Room_tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,688},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>Room_tuichu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,774},{68,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,63}}</string>
                <key>sourceSize</key>
                <string>{68,63}</string>
            </dict>
            <key>Room_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{499,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,56}}</string>
                <key>sourceSize</key>
                <string>{499,56}</string>
            </dict>
            <key>Room_win_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{309,147}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{309,147}}</string>
                <key>sourceSize</key>
                <string>{313,151}</string>
            </dict>
            <key>Room_xiaop.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{30,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{30,41}</string>
            </dict>
            <key>ddz_icon_disconnect.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,469},{58,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,702},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_icon_noming.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,805},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>ddz_popup_call.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,768},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,698},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_nocall.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,608},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_nodouble.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,531},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_noqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,797},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_popup_qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,797},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>ddz_toast_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{530,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,86}}</string>
                <key>sourceSize</key>
                <string>{530,86}</string>
            </dict>
            <key>ddz_waiting_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,101},{350,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,33}}</string>
                <key>sourceSize</key>
                <string>{350,33}</string>
            </dict>
            <key>ddzn_dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,751},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ddzn_double_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,410},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>ddzn_nongming.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,805},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>land_owner_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,474},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{42,44}</string>
            </dict>
            <key>msg_nobigger_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{506,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,74}}</string>
                <key>sourceSize</key>
                <string>{506,74}</string>
            </dict>
            <key>ready_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{202,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,60}}</string>
                <key>sourceSize</key>
                <string>{202,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_room.png</string>
            <key>size</key>
            <string>{1023,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5a2ddb4f84143fcf3694d35459740da$</string>
            <key>textureFileName</key>
            <string>DDZ_room.png</string>
        </dict>
    </dict>
</plist>
