<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eff_plane_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1896},{200,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,134}</string>
            </dict>
            <key>eff_plane_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1509},{200,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,130}}</string>
                <key>sourceSize</key>
                <string>{200,134}</string>
            </dict>
            <key>eff_plane_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,738},{198,130}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,130}}</string>
                <key>sourceSize</key>
                <string>{200,134}</string>
            </dict>
            <key>eff_rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1734},{110,326}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{110,326}}</string>
                <key>sourceSize</key>
                <string>{110,400}</string>
            </dict>
            <key>eff_rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1622},{110,326}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{110,326}}</string>
                <key>sourceSize</key>
                <string>{110,400}</string>
            </dict>
            <key>eff_rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1641},{110,318}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{110,318}}</string>
                <key>sourceSize</key>
                <string>{110,400}</string>
            </dict>
            <key>eff_shunzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1753},{302,141}}</string>
                <key>offset</key>
                <string>{-31,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,57},{302,141}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,202},{288,147}}</string>
                <key>offset</key>
                <string>{-24,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,50},{288,147}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1234},{210,97}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,74},{210,97}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,492},{186,127}}</string>
                <key>offset</key>
                <string>{27,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{186,127}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,870},{186,113}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,85},{186,113}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,985},{186,103}}</string>
                <key>offset</key>
                <string>{27,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,85},{186,103}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1896},{186,87}}</string>
                <key>offset</key>
                <string>{27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,84},{186,87}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_shunzi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,621},{186,115}}</string>
                <key>offset</key>
                <string>{27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,84},{186,115}}</string>
                <key>sourceSize</key>
                <string>{400,205}</string>
            </dict>
            <key>eff_zhadan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,106},{166,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,94}}</string>
                <key>sourceSize</key>
                <string>{166,94}</string>
            </dict>
            <key>eff_zhadan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{174,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{174,100}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>eff_zhadan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{172,102}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{172,102}}</string>
                <key>sourceSize</key>
                <string>{174,102}</string>
            </dict>
            <key>eff_zhadan_030000.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1333},{174,232}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{174,232}}</string>
                <key>sourceSize</key>
                <string>{184,242}</string>
            </dict>
            <key>eff_zhadan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1090},{214,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,142}}</string>
                <key>sourceSize</key>
                <string>{214,142}</string>
            </dict>
            <key>eff_zhadan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{418,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,280}}</string>
                <key>sourceSize</key>
                <string>{418,280}</string>
            </dict>
            <key>eff_zhadan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{476,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,358}}</string>
                <key>sourceSize</key>
                <string>{476,358}</string>
            </dict>
            <key>eff_zhadan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{450,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,334}}</string>
                <key>sourceSize</key>
                <string>{450,334}</string>
            </dict>
            <key>eff_zhadan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{390,336}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,336}}</string>
                <key>sourceSize</key>
                <string>{390,336}</string>
            </dict>
            <key>eff_zhadan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{452,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,302}}</string>
                <key>sourceSize</key>
                <string>{452,302}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DDZ_eff.png</string>
            <key>size</key>
            <string>{654,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f65f4f810fcaed64009def9d61401933:1/1$</string>
            <key>textureFileName</key>
            <string>DDZ_eff.png</string>
        </dict>
    </dict>
</plist>
