<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,176}}</string>
                <key>sourceSize</key>
                <string>{136,176}</string>
            </dict>
            <key>cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1082},{126,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,170}}</string>
                <key>sourceSize</key>
                <string>{126,170}</string>
            </dict>
            <key>r1_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1082},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1082},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1082},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1802},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1622},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c16.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1442},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c17.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1262},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1082},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r1_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1440},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,902},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,722},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r2_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,542},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,362},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r3_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c11.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,182},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c5.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c7.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
            <key>r4_c9.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{134,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,178}}</string>
                <key>sourceSize</key>
                <string>{134,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>res_ddz_cards.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a15d133e960647784f616549cd97df41:1/1$</string>
            <key>textureFileName</key>
            <string>res_ddz_cards.png</string>
        </dict>
    </dict>
</plist>
