<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,298},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>chi_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda775dca6752db5e162c6360ae19435$</string>
            <key>textureFileName</key>
            <string>chi.png</string>
        </dict>
    </dict>
</plist>
