<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,166},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,330},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,494},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
            <key>gang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,658},{231,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,162}}</string>
                <key>sourceSize</key>
                <string>{231,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gang.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82271f35f8fe3ed13cd4a8d41fba7a10$</string>
            <key>textureFileName</key>
            <string>gang.png</string>
        </dict>
    </dict>
</plist>
