<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,150},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
            <key>ting_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,298},{157,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{157,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cccc43eb77eb9fd78607c282501c01a$</string>
            <key>textureFileName</key>
            <string>ting.png</string>
        </dict>
    </dict>
</plist>
