<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dasuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{54,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>dfs_k_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{111,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>history_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{742,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{742,41}}</string>
                <key>sourceSize</key>
                <string>{742,41}</string>
            </dict>
            <key>huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{59,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,58}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>huangfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{59,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>lajiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,113},{64,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{64,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>luobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,113},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mogu.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,113},{60,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>myhistory_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,113},{722,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{722,53}}</string>
                <key>sourceSize</key>
                <string>{722,53}</string>
            </dict>
            <key>open_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{721,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,39}}</string>
                <key>sourceSize</key>
                <string>{721,39}</string>
            </dict>
            <key>qiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,179},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,179},{64,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xihongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,179},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part2.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:450f3338a337bfcb26026d7073020844$</string>
            <key>textureFileName</key>
            <string>part2.png</string>
        </dict>
    </dict>
</plist>
