<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,767},{212,307}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,307}}</string>
                <key>sourceSize</key>
                <string>{212,309}</string>
            </dict>
            <key>1ge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,555},{212,307}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,307}}</string>
                <key>sourceSize</key>
                <string>{212,309}</string>
            </dict>
            <key>3ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,340},{215,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,311}}</string>
                <key>sourceSize</key>
                <string>{215,311}</string>
            </dict>
            <key>3ge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,125},{215,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,311}}</string>
                <key>sourceSize</key>
                <string>{215,311}</string>
            </dict>
            <key>5ge.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,637},{212,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,313}}</string>
                <key>sourceSize</key>
                <string>{212,313}</string>
            </dict>
            <key>5ge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{212,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,313}}</string>
                <key>sourceSize</key>
                <string>{212,313}</string>
            </dict>
            <key>caidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,101},{278,386}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{278,386}}</string>
                <key>sourceSize</key>
                <string>{284,402}</string>
            </dict>
            <key>dfs_b_kuangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{189,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,44}}</string>
                <key>sourceSize</key>
                <string>{189,44}</string>
            </dict>
            <key>dfs_b_touixang.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,457},{109,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,110}}</string>
                <key>sourceSize</key>
                <string>{109,110}</string>
            </dict>
            <key>dfs_k_deng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,0},{94,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{94,40}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>dfs_k_deng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,950},{98,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>dfs_k_deng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,110},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>dfs_k_deng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,40},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{98,70}</string>
            </dict>
            <key>dfs_k_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,457},{111,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{111,109}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>dfs_m_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,98},{54,19}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,9},{54,19}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>dfs_m_2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,950},{56,29}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{56,29}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>dfs_m_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,40},{58,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,9},{58,19}}</string>
                <key>sourceSize</key>
                <string>{66,35}</string>
            </dict>
            <key>huafei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,950},{65,30}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{65,30}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>itembk.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,612},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,25}}</string>
                <key>sourceSize</key>
                <string>{34,25}</string>
            </dict>
            <key>qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,0},{400,125}}</string>
                <key>offset</key>
                <string>{-22,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{400,125}}</string>
                <key>sourceSize</key>
                <string>{484,131}</string>
            </dict>
            <key>shijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,824},{269,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{269,48}}</string>
                <key>sourceSize</key>
                <string>{281,50}</string>
            </dict>
            <key>shijian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,379},{245,34}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,5},{245,34}}</string>
                <key>sourceSize</key>
                <string>{281,50}</string>
            </dict>
            <key>shuangfei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,950},{67,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,21},{67,29}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>shuom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,495},{347,117}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{347,117}}</string>
                <key>sourceSize</key>
                <string>{355,133}</string>
            </dict>
            <key>shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,950},{230,71}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{230,71}}</string>
                <key>sourceSize</key>
                <string>{232,75}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{529,101}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{529,101}}</string>
                <key>sourceSize</key>
                <string>{547,105}</string>
            </dict>
            <key>tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,101},{356,122}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{356,122}}</string>
                <key>sourceSize</key>
                <string>{398,136}</string>
            </dict>
            <key>top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{350,116}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{350,116}}</string>
                <key>sourceSize</key>
                <string>{358,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efae6e25ffb68a69762a8aea0df6672c$</string>
            <key>textureFileName</key>
            <string>part1.png</string>
        </dict>
    </dict>
</plist>
