<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bair1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{365,245}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{365,245}}</string>
                <key>sourceSize</key>
                <string>{373,267}</string>
            </dict>
            <key>bair2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,528},{365,267}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{365,267}}</string>
                <key>sourceSize</key>
                <string>{373,267}</string>
            </dict>
            <key>baoj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{114,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{114,118}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>baoj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{116,118}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{116,118}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>baojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{74,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{74,44}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>caid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{796,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,55}}</string>
                <key>sourceSize</key>
                <string>{800,57}</string>
            </dict>
            <key>caid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{796,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,55}}</string>
                <key>sourceSize</key>
                <string>{800,57}</string>
            </dict>
            <key>chongz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>chongz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{76,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{76,43}}</string>
                <key>sourceSize</key>
                <string>{92,55}</string>
            </dict>
            <key>chongzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>chongzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,130},{210,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{210,89}}</string>
                <key>sourceSize</key>
                <string>{226,105}</string>
            </dict>
            <key>help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{210,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{210,89}}</string>
                <key>sourceSize</key>
                <string>{226,105}</string>
            </dict>
            <key>kaishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,221},{287,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{287,106}}</string>
                <key>sourceSize</key>
                <string>{299,114}</string>
            </dict>
            <key>kaishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{287,106}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{287,106}}</string>
                <key>sourceSize</key>
                <string>{299,114}</string>
            </dict>
            <key>more1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,130},{210,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{210,89}}</string>
                <key>sourceSize</key>
                <string>{226,105}</string>
            </dict>
            <key>more2.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,130},{210,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{210,89}}</string>
                <key>sourceSize</key>
                <string>{226,105}</string>
            </dict>
            <key>mutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{784,142}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{784,142}}</string>
                <key>sourceSize</key>
                <string>{792,148}</string>
            </dict>
            <key>notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,443},{767,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,83}}</string>
                <key>sourceSize</key>
                <string>{767,83}</string>
            </dict>
            <key>toux.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{104,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{104,104}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f54eaa22093816edddbbb2f1814deae$</string>
            <key>textureFileName</key>
            <string>part1.png</string>
        </dict>
    </dict>
</plist>
