<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>butn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,600},{185,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{185,72}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>butn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{185,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{185,72}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>load3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{130,89}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{130,89}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>load4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,180},{128,87}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{128,87}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>load5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,93},{130,85}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{130,85}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>load6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,356},{132,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{132,89}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>load7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,490},{136,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{136,87}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>load8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,269},{128,85}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{128,85}}</string>
                <key>sourceSize</key>
                <string>{142,91}</string>
            </dict>
            <key>tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,375}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{596,375}}</string>
                <key>sourceSize</key>
                <string>{608,383}</string>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,356},{64,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,32}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part5.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edfdd107c4e6dccf760ea623db6c5cbb$</string>
            <key>textureFileName</key>
            <string>part5.png</string>
        </dict>
    </dict>
</plist>
