<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,532},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>begin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,580},{213,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{213,94}}</string>
                <key>sourceSize</key>
                <string>{225,102}</string>
            </dict>
            <key>begin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,914},{213,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{213,94}}</string>
                <key>sourceSize</key>
                <string>{225,102}</string>
            </dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,919},{157,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,102}}</string>
                <key>sourceSize</key>
                <string>{157,102}</string>
            </dict>
            <key>btngamehelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,81},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btngamehelp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,825},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>buq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,603},{220,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>buq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,922},{220,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>butn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,155},{185,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{185,72}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>butn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,81},{185,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{185,72}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>caid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{261,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,317}}</string>
                <key>sourceSize</key>
                <string>{261,317}</string>
            </dict>
            <key>colse.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,369},{62,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{62,32}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{225,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,100}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>dzwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,356},{71,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{71,35}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,251},{36,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,603},{149,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,222}}</string>
                <key>sourceSize</key>
                <string>{151,230}</string>
            </dict>
            <key>huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,217},{38,32}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,32}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>huanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,369},{64,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,32}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{499,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,77}}</string>
                <key>sourceSize</key>
                <string>{499,77}</string>
            </dict>
            <key>mein1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,177},{214,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{214,94}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>mein2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,81},{214,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{214,94}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>niunum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,229},{42,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{42,18}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,529},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum11.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,529},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum12.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,369},{44,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum13.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,532},{44,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,46}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,532},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,488},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,400},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,444},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,356},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,529},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,171},{44,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,529},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>paixing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{505,599}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{505,599}}</string>
                <key>sourceSize</key>
                <string>{511,605}</string>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,229},{125,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{125,173}}</string>
                <key>sourceSize</key>
                <string>{129,175}</string>
            </dict>
            <key>px_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,241},{68,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,59}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>px_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,171},{68,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,59}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>qiangz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,433},{213,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>qiangz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,591},{213,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,827},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
            <key>room17_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,311},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,98}</string>
            </dict>
            <key>room56_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,532},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>room57_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,532},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>shez1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,827},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>shez2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,827},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,818},{213,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,603},{213,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,356},{72,78}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,795},{94,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>tuic.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,369},{33,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{33,32}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>tuichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,369},{64,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{64,32}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,369},{64,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{64,32}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>youn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,436},{213,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,98}</string>
            </dict>
            <key>youn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,273},{213,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e27907efca435b3a99e3e059774d714$</string>
            <key>textureFileName</key>
            <string>part4.png</string>
        </dict>
    </dict>
</plist>
