<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,680},{118,77}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{118,77}}</string>
                <key>sourceSize</key>
                <string>{126,81}</string>
            </dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,139},{46,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>btnbegin.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,379},{218,86}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{218,86}}</string>
                <key>sourceSize</key>
                <string>{232,108}</string>
            </dict>
            <key>di2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,187},{33,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{33,26}</string>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{250,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{250,308}}</string>
                <key>sourceSize</key>
                <string>{250,310}</string>
            </dict>
            <key>headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{103,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{105,103}</string>
            </dict>
            <key>level0.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,490},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>level1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,490},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>level2.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,490},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>level3.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,254},{100,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,28}}</string>
                <key>sourceSize</key>
                <string>{100,30}</string>
            </dict>
            <key>msgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{654,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{654,323}}</string>
                <key>sourceSize</key>
                <string>{654,323}</string>
            </dict>
            <key>msgbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>msgclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,606},{126,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{126,72}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>room0bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,327},{229,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{229,248}}</string>
                <key>sourceSize</key>
                <string>{235,250}</string>
            </dict>
            <key>room0icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,577},{173,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{173,182}}</string>
                <key>sourceSize</key>
                <string>{173,188}</string>
            </dict>
            <key>room0table.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,706},{238,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{238,66}}</string>
                <key>sourceSize</key>
                <string>{238,72}</string>
            </dict>
            <key>room1bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,752},{232,246}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{232,246}}</string>
                <key>sourceSize</key>
                <string>{238,256}</string>
            </dict>
            <key>room1icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,680},{163,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,197}}</string>
                <key>sourceSize</key>
                <string>{163,197}</string>
            </dict>
            <key>room1table.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,634},{238,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,70}}</string>
                <key>sourceSize</key>
                <string>{238,70}</string>
            </dict>
            <key>room2bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,254},{234,263}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,263}}</string>
                <key>sourceSize</key>
                <string>{238,265}</string>
            </dict>
            <key>room2icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,327},{138,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{138,214}}</string>
                <key>sourceSize</key>
                <string>{140,214}</string>
            </dict>
            <key>room2table.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,562},{238,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{238,70}}</string>
                <key>sourceSize</key>
                <string>{238,72}</string>
            </dict>
            <key>room3bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{237,260}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{237,260}}</string>
                <key>sourceSize</key>
                <string>{237,264}</string>
            </dict>
            <key>room3icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,467},{137,211}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{137,211}}</string>
                <key>sourceSize</key>
                <string>{137,215}</string>
            </dict>
            <key>room3table.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,490},{238,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,70}}</string>
                <key>sourceSize</key>
                <string>{238,74}</string>
            </dict>
            <key>shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{126,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,79}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,94},{47,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,43}}</string>
                <key>sourceSize</key>
                <string>{47,43}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{126,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,79}}</string>
                <key>sourceSize</key>
                <string>{126,79}</string>
            </dict>
            <key>task.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,599},{118,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,79}}</string>
                <key>sourceSize</key>
                <string>{122,79}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,215},{162,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,32}}</string>
                <key>sourceSize</key>
                <string>{162,32}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,606},{134,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{134,30}}</string>
                <key>sourceSize</key>
                <string>{134,32}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,606},{72,78}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,54},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,38}}</string>
                <key>sourceSize</key>
                <string>{48,38}</string>
            </dict>
            <key>youjianbiaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,388},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077ae0f1ed530c0e45744097ae0b0a47$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
