<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10w.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,899},{70,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{70,69}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>10w_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,723},{86,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,83}}</string>
                <key>sourceSize</key>
                <string>{86,83}</string>
            </dict>
            <key>1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,969},{51,50}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{51,50}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>1w_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,657},{63,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>2w.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,657},{60,61}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{60,61}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>2w_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,657},{78,75}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,75}}</string>
                <key>sourceSize</key>
                <string>{80,77}</string>
            </dict>
            <key>bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,714},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>bet_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,632},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,437},{218,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,280}}</string>
                <key>sourceSize</key>
                <string>{218,280}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{480,301}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{480,301}}</string>
                <key>sourceSize</key>
                <string>{482,305}</string>
            </dict>
            <key>bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,616},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,534},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>clear.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,601},{93,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{93,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,502},{93,97}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{93,97}}</string>
                <key>sourceSize</key>
                <string>{103,103}</string>
            </dict>
            <key>cz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,726},{80,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{80,46}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>cz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,967},{80,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{80,46}}</string>
                <key>sourceSize</key>
                <string>{88,54}</string>
            </dict>
            <key>dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,808},{88,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,89}}</string>
                <key>sourceSize</key>
                <string>{92,89}</string>
            </dict>
            <key>fanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,604},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>guize.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,502},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{1,1}}</string>
                <key>offset</key>
                <string>{-84.5,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>item.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,437},{168,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{168,51}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>jinqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,657},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>kick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,490},{124,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,38}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>kick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,490},{128,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{128,42}}</string>
                <key>sourceSize</key>
                <string>{134,48}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{438,6}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{438,6}}</string>
                <key>sourceSize</key>
                <string>{442,18}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1006},{4,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{4,63}}</string>
                <key>sourceSize</key>
                <string>{8,65}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,808},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>menu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,800},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>mianb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,498}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{533,498}}</string>
                <key>sourceSize</key>
                <string>{533,502}</string>
            </dict>
            <key>numpad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{494,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,320}}</string>
                <key>sourceSize</key>
                <string>{494,320}</string>
            </dict>
            <key>rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,437},{96,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{96,25}}</string>
                <key>sourceSize</key>
                <string>{106,35}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,899},{57,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{57,57}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>touzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,967},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,59}}</string>
                <key>sourceSize</key>
                <string>{54,59}</string>
            </dict>
            <key>user.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,734},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>user_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,726},{74,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{74,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>yes1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,371},{480,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{482,66}</string>
            </dict>
            <key>yes2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,305},{480,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,64}}</string>
                <key>sourceSize</key>
                <string>{482,66}</string>
            </dict>
            <key>you1.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,726},{239,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,64}}</string>
                <key>sourceSize</key>
                <string>{241,66}</string>
            </dict>
            <key>you2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,726},{239,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,64}}</string>
                <key>sourceSize</key>
                <string>{241,66}</string>
            </dict>
            <key>zuo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,726},{241,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,64}}</string>
                <key>sourceSize</key>
                <string>{241,66}</string>
            </dict>
            <key>zuo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,726},{241,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,64}}</string>
                <key>sourceSize</key>
                <string>{241,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48f347a99e3389d6a1ec3f5a1b510e9e$</string>
            <key>textureFileName</key>
            <string>part_1.png</string>
        </dict>
    </dict>
</plist>
