<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,431},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>10_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,309},{120,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,80}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,383},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>11_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>12_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,377},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,336},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>13_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,297},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,417},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>14_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,405},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,378},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>15_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,302},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,296},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>16_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,216},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,140},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>17_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,545},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>18_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>3_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,221},{123,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,79}}</string>
                <key>sourceSize</key>
                <string>{123,79}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,59},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>4_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,324},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>5_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,324},{124,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,79}}</string>
                <key>sourceSize</key>
                <string>{124,79}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,464},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>6_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{120,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,79}}</string>
                <key>sourceSize</key>
                <string>{120,79}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,184},{123,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,80}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>7_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,59},{123,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,80}}</string>
                <key>sourceSize</key>
                <string>{123,80}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,254},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>8_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,242},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,160},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>9_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,214},{124,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,80}}</string>
                <key>sourceSize</key>
                <string>{124,80}</string>
            </dict>
            <key>big.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,58},{158,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,156}}</string>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>big_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{158,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,156}}</string>
                <key>sourceSize</key>
                <string>{158,156}</string>
            </dict>
            <key>db.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>db_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>same.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,50},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
            <key>ser_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,55}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>seri.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,55}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>small.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,98},{155,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{155,154}</string>
            </dict>
            <key>small_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,58},{155,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,154}}</string>
                <key>sourceSize</key>
                <string>{155,154}</string>
            </dict>
            <key>three_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{170,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,46}}</string>
                <key>sourceSize</key>
                <string>{170,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac48ee4554843e91f77bf51c1162bfec$</string>
            <key>textureFileName</key>
            <string>part2.png</string>
        </dict>
    </dict>
</plist>
