<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangkuai_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,608},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>fangkuai_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,560},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heimei_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,704},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heimei_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,542},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heitao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heitao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,524},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hongtao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,608},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,49}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>hongtao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,506},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>king.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,607},{64,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>kueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>losetxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,506},{173,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,95}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,603},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>poker_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,506},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>ranker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{60,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>wintxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{173,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e02b14011267b851b05d80f4dd9adb6$</string>
            <key>textureFileName</key>
            <string>part3.png</string>
        </dict>
    </dict>
</plist>
