<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,466}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{666,466}}</string>
                <key>sourceSize</key>
                <string>{674,468}</string>
            </dict>
            <key>chatclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,474},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,270},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>chath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,526},{122,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{122,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>chatinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,585},{432,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,51}}</string>
                <key>sourceSize</key>
                <string>{432,51}</string>
            </dict>
            <key>chatitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{660,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,2}}</string>
                <key>sourceSize</key>
                <string>{660,2}</string>
            </dict>
            <key>chatlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{590,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,270}}</string>
                <key>sourceSize</key>
                <string>{590,270}</string>
            </dict>
            <key>chats1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{142,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>chats2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,441},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>emotion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,136},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>emotion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,404},{64,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{64,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>quick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>quick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{92,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{92,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c915b1b4c5dbaefcd58dfcc9140f613c$</string>
            <key>textureFileName</key>
            <string>part8.png</string>
        </dict>
    </dict>
</plist>
