<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype0.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,38},{131,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{131,66}}</string>
                <key>sourceSize</key>
                <string>{139,84}</string>
            </dict>
            <key>cardtype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,713},{135,68}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{135,68}}</string>
                <key>sourceSize</key>
                <string>{149,80}</string>
            </dict>
            <key>cardtype10.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,637},{136,68}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{136,68}}</string>
                <key>sourceSize</key>
                <string>{148,80}</string>
            </dict>
            <key>cardtype11.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,574},{137,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{137,70}}</string>
                <key>sourceSize</key>
                <string>{153,84}</string>
            </dict>
            <key>cardtype12.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,533},{205,70}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{205,70}}</string>
                <key>sourceSize</key>
                <string>{215,84}</string>
            </dict>
            <key>cardtype13.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,367},{205,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{205,68}}</string>
                <key>sourceSize</key>
                <string>{215,84}</string>
            </dict>
            <key>cardtype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{137,68}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{137,68}}</string>
                <key>sourceSize</key>
                <string>{153,80}</string>
            </dict>
            <key>cardtype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{138,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{138,68}}</string>
                <key>sourceSize</key>
                <string>{150,86}</string>
            </dict>
            <key>cardtype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,850},{134,68}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{134,68}}</string>
                <key>sourceSize</key>
                <string>{142,86}</string>
            </dict>
            <key>cardtype5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,563},{137,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{137,68}}</string>
                <key>sourceSize</key>
                <string>{149,86}</string>
            </dict>
            <key>cardtype6.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,605},{136,68}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{136,68}}</string>
                <key>sourceSize</key>
                <string>{148,86}</string>
            </dict>
            <key>cardtype7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{137,68}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{137,68}}</string>
                <key>sourceSize</key>
                <string>{153,86}</string>
            </dict>
            <key>cardtype8.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,563},{136,68}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{136,68}}</string>
                <key>sourceSize</key>
                <string>{150,80}</string>
            </dict>
            <key>cardtype9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,563},{136,68}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,68}}</string>
                <key>sourceSize</key>
                <string>{142,80}</string>
            </dict>
            <key>chat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,633},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>chat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,633},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>chatbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,573},{144,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,62}}</string>
                <key>sourceSize</key>
                <string>{144,62}</string>
            </dict>
            <key>fangkuai_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,675},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>fangkuai_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,311},{97,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,474},{97,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>heimei_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,647},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heimei_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heitao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,647},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heitao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hongtao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,49}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>hongtao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{372,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{372,31}}</string>
                <key>sourceSize</key>
                <string>{384,45}</string>
            </dict>
            <key>king.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,270},{64,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>kueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,171},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>losetxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,410},{173,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,95}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,167},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>poker_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,35},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>rank1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,633},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>rank2.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,605},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>ranker.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,585},{60,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>shez.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,307}}</string>
                <key>sourceSize</key>
                <string>{597,307}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,35},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>wintxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,299},{173,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5fcff6d1cf054c7642510feae551e7a$</string>
            <key>textureFileName</key>
            <string>part3.png</string>
        </dict>
    </dict>
</plist>
