<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai12_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,97},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai40_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{462,194}}</string>
                <key>sourceSize</key>
                <string>{466,202}</string>
            </dict>
            <key>bai41_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,249},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai42_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,198},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai43_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{255,256}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,256}}</string>
                <key>sourceSize</key>
                <string>{255,258}</string>
            </dict>
            <key>bai44_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,192},{178,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,202}}</string>
                <key>sourceSize</key>
                <string>{178,202}</string>
            </dict>
            <key>bai4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{336,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,304}}</string>
                <key>sourceSize</key>
                <string>{336,304}</string>
            </dict>
            <key>bai5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,804},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,702},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,702},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,541},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bankerhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,198},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>chip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,418},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>chip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,482},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>chip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,701},{108,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,107}}</string>
                <key>sourceSize</key>
                <string>{108,107}</string>
            </dict>
            <key>chip21.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,418},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>chip22.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,418},{110,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,107}}</string>
                <key>sourceSize</key>
                <string>{110,107}</string>
            </dict>
            <key>chip23.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,455},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>chip31.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,528},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>chip32.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,528},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>chip33.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,592},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>chip41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,108}}</string>
                <key>sourceSize</key>
                <string>{110,108}</string>
            </dict>
            <key>chip42.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,591},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>chip43.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,482},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>chip51.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,432},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>chip52.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,372},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>chip53.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,372},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>chip61.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,637},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>chip62.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,308},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>chip63.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,322},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>chip71.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,308},{112,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,108}}</string>
                <key>sourceSize</key>
                <string>{112,108}</string>
            </dict>
            <key>chip72.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,308},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>chip73.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,527},{109,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,108}}</string>
                <key>sourceSize</key>
                <string>{109,108}</string>
            </dict>
            <key>nao1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,300},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,300},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,401},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,26}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353bc418026f611bfcb5502017a266aa$</string>
            <key>textureFileName</key>
            <string>part7.png</string>
        </dict>
    </dict>
</plist>
