<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chatBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,465}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{664,465}}</string>
                <key>sourceSize</key>
                <string>{668,469}</string>
            </dict>
            <key>chatclose.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,960},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chath1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,815},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>chath2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,251},{122,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{122,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>chatinput.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,960},{432,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,51}}</string>
                <key>sourceSize</key>
                <string>{432,51}</string>
            </dict>
            <key>chatitem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{660,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,2}}</string>
                <key>sourceSize</key>
                <string>{660,2}</string>
            </dict>
            <key>chatlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,223},{590,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,270}}</string>
                <key>sourceSize</key>
                <string>{590,270}</string>
            </dict>
            <key>chats1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,815},{142,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{142,58}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>chats2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,960},{142,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,60}}</string>
                <key>sourceSize</key>
                <string>{142,60}</string>
            </dict>
            <key>chkearn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,843},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>chkearn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,657},{184,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>chkmoney1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,880},{184,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>chkmoney2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,815},{184,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,63}}</string>
                <key>sourceSize</key>
                <string>{186,63}</string>
            </dict>
            <key>emotion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,815},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>emotion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,469},{64,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{64,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>emotion_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,908},{44,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,908},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,908},{44,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,140},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,960},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,960},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,94},{44,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,518},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,242},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,472},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,48},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,426},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,380},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,334},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{44,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{44,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>emotion_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,288},{44,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>myrank.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,960},{265,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,50}}</string>
                <key>sourceSize</key>
                <string>{265,50}</string>
            </dict>
            <key>no1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,223},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>no2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,214},{26,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>no3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,186},{26,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{28,38}</string>
            </dict>
            <key>quick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,815},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>quick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,375},{92,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{92,35}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>rankframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,815},{99,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,122}}</string>
                <key>sourceSize</key>
                <string>{99,124}</string>
            </dict>
            <key>ranktitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,562},{396,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{396,76}}</string>
                <key>sourceSize</key>
                <string>{396,76}</string>
            </dict>
            <key>rankview.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,473},{265,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,182}}</string>
                <key>sourceSize</key>
                <string>{265,182}</string>
            </dict>
            <key>tair.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{312,219}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{312,219}}</string>
                <key>sourceSize</key>
                <string>{314,233}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46d9999abc32b6bb447677928d09169b$</string>
            <key>textureFileName</key>
            <string>part8.png</string>
        </dict>
    </dict>
</plist>
