<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LB_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,308},{116,97}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{116,97}}</string>
                <key>sourceSize</key>
                <string>{118,109}</string>
            </dict>
            <key>LB_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,322},{116,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{116,97}}</string>
                <key>sourceSize</key>
                <string>{116,113}</string>
            </dict>
            <key>bai12_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,97},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai40_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{462,194}}</string>
                <key>sourceSize</key>
                <string>{466,202}</string>
            </dict>
            <key>bai41_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,467},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai42_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,402},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai43_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{255,256}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,256}}</string>
                <key>sourceSize</key>
                <string>{255,258}</string>
            </dict>
            <key>bai44_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,192},{178,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,202}}</string>
                <key>sourceSize</key>
                <string>{178,202}</string>
            </dict>
            <key>bai4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{336,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,304}}</string>
                <key>sourceSize</key>
                <string>{336,304}</string>
            </dict>
            <key>bai5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,407},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,421},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bankerhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,198},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>chip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,484},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,455},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{66,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip21.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,470},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{99,80}</string>
            </dict>
            <key>chip22.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,266},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{67,66}}</string>
                <key>sourceSize</key>
                <string>{99,80}</string>
            </dict>
            <key>chip23.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,198},{67,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{67,66}}</string>
                <key>sourceSize</key>
                <string>{99,80}</string>
            </dict>
            <key>chip31.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,410},{80,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip32.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,492},{66,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip33.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,492},{66,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{98,80}</string>
            </dict>
            <key>chip41.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,410},{80,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip42.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,509},{66,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip43.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,492},{66,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip51.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,410},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip52.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,600},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip53.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,552},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>chip61.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,402},{80,80}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>chip62.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,532},{66,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>chip63.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,484},{66,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>chip71.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,402},{80,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>chip72.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,402},{66,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>chip73.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,334},{66,66}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{92,80}</string>
            </dict>
            <key>nao1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,372},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,372},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,308},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,26}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9396188dea53b0c9d5265fd9e562cb9$</string>
            <key>textureFileName</key>
            <string>part7.png</string>
        </dict>
    </dict>
</plist>
