<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,197},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,56}</string>
            </dict>
            <key>begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,245},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,831},{157,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,102}}</string>
                <key>sourceSize</key>
                <string>{157,102}</string>
            </dict>
            <key>btngamehelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,81},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>btngamehelp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,931},{90,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>buq1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,829},{220,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>buq2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,607},{220,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,100}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{225,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,100}}</string>
                <key>sourceSize</key>
                <string>{225,100}</string>
            </dict>
            <key>dzwz.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,217},{71,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{71,35}}</string>
                <key>sourceSize</key>
                <string>{89,53}</string>
            </dict>
            <key>headframe.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,607},{149,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,222}}</string>
                <key>sourceSize</key>
                <string>{151,230}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{499,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,77}}</string>
                <key>sourceSize</key>
                <string>{499,77}</string>
            </dict>
            <key>mein1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,607},{214,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{214,94}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>mein2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,607},{214,94}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{214,94}}</string>
                <key>sourceSize</key>
                <string>{220,102}</string>
            </dict>
            <key>niunum1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,990},{42,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{42,18}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum10.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,289},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum11.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,245},{42,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum2.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,369},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum3.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,488},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,312},{44,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum5.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,444},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum6.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,268},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum7.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,400},{42,44}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum8.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,171},{44,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{44,38}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>niunum9.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,356},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,44}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>pb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{125,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{125,173}}</string>
                <key>sourceSize</key>
                <string>{129,175}</string>
            </dict>
            <key>px2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,603}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,603}}</string>
                <key>sourceSize</key>
                <string>{511,605}</string>
            </dict>
            <key>px_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,956},{68,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,59}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>px_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,956},{68,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,59}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>qiangz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,296},{213,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>qiangz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,369},{213,94}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>room17_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,831},{123,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,98}}</string>
                <key>sourceSize</key>
                <string>{123,98}</string>
            </dict>
            <key>room56_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,81},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>room57_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,139},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>shez1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,931},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>shez2.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,931},{90,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>tishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,273},{213,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>tishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,177},{213,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,102}</string>
            </dict>
            <key>touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,171},{72,78}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{72,78}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,369},{94,94}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>youn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,81},{213,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,98}</string>
            </dict>
            <key>youn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,81},{213,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{213,94}}</string>
                <key>sourceSize</key>
                <string>{219,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41a9b177f525d165b9ab2dc07f0bea1f$</string>
            <key>textureFileName</key>
            <string>part4.png</string>
        </dict>
    </dict>
</plist>
