<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>editer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,68}}</string>
                <key>sourceSize</key>
                <string>{375,68}</string>
            </dict>
            <key>editerFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{394,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,88}}</string>
                <key>sourceSize</key>
                <string>{394,88}</string>
            </dict>
            <key>private_baib1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{491,286}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{491,286}}</string>
                <key>sourceSize</key>
                <string>{517,288}</string>
            </dict>
            <key>private_baib2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,92},{491,286}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{491,286}}</string>
                <key>sourceSize</key>
                <string>{517,288}</string>
            </dict>
            <key>private_bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{211,92}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{211,92}}</string>
                <key>sourceSize</key>
                <string>{217,98}</string>
            </dict>
            <key>private_bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,380},{211,92}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{211,92}}</string>
                <key>sourceSize</key>
                <string>{217,98}</string>
            </dict>
            <key>private_cj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,380},{212,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,92}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>private_cj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,380},{212,92}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,92}}</string>
                <key>sourceSize</key>
                <string>{218,96}</string>
            </dict>
            <key>private_editbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{406,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,100}}</string>
                <key>sourceSize</key>
                <string>{406,100}</string>
            </dict>
            <key>private_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,474},{350,358}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{350,358}}</string>
                <key>sourceSize</key>
                <string>{356,386}</string>
            </dict>
            <key>private_return1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,474},{147,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{147,138}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
            <key>private_return2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{147,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{147,138}}</string>
                <key>sourceSize</key>
                <string>{153,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c92b62568a75c936f6a9a45f82d8571e$</string>
            <key>textureFileName</key>
            <string>part6.png</string>
        </dict>
    </dict>
</plist>
