<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai12_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,97},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai12_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,93}}</string>
                <key>sourceSize</key>
                <string>{213,93}</string>
            </dict>
            <key>bai40_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,194}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{462,194}}</string>
                <key>sourceSize</key>
                <string>{466,202}</string>
            </dict>
            <key>bai41_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,410},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai42_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,455},{63,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{63,49}}</string>
                <key>sourceSize</key>
                <string>{67,49}</string>
            </dict>
            <key>bai43_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{255,256}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{255,256}}</string>
                <key>sourceSize</key>
                <string>{255,258}</string>
            </dict>
            <key>bai44_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,192},{178,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,202}}</string>
                <key>sourceSize</key>
                <string>{178,202}</string>
            </dict>
            <key>bai4_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{336,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,304}}</string>
                <key>sourceSize</key>
                <string>{336,304}</string>
            </dict>
            <key>bai5_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai6_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai7_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,308},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bai8_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,322},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bankerhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,198},{123,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,122}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>chip11.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,550},{67,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,66}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>chip12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,424},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>chip13.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,478},{67,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,65}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>chip21.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,506},{66,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>chip22.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,400},{81,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,80}}</string>
                <key>sourceSize</key>
                <string>{87,88}</string>
            </dict>
            <key>chip23.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,267},{67,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>chip31.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,410},{66,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>chip32.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,418},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,80}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>chip33.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,410},{66,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>chip41.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,500},{66,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{74,68}</string>
            </dict>
            <key>chip42.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,336},{81,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,80}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>chip43.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,198},{67,67}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{75,69}</string>
            </dict>
            <key>chip51.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,482},{67,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{67,66}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>chip52.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,410},{80,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{80,80}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>chip53.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,410},{66,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>chip61.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,492},{66,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,66}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>chip62.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,482},{80,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{80,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>chip63.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,455},{66,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>chip71.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,455},{66,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>chip72.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,402},{80,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{80,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>chip73.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{66,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>nao1_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,372},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao2_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,308},{99,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
            <key>nao3_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,372},{99,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,26}}</string>
                <key>sourceSize</key>
                <string>{101,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751bf9d589c9d664b3af52e2676fefaa$</string>
            <key>textureFileName</key>
            <string>part7.png</string>
        </dict>
    </dict>
</plist>
