<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardtype0.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,331},{139,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{139,68}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype1.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,688},{143,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,7},{143,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,688},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype11.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,831},{141,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{214,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,84}</string>
            </dict>
            <key>cardtype13.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,533},{214,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{214,70}}</string>
                <key>sourceSize</key>
                <string>{220,84}</string>
            </dict>
            <key>cardtype2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{143,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{143,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,605},{143,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{143,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype4.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,903},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype5.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,582},{143,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{143,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype6.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,605},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype7.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,688},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype8.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,831},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>cardtype9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,688},{141,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{141,70}}</string>
                <key>sourceSize</key>
                <string>{171,84}</string>
            </dict>
            <key>fangkuai_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,582},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>fangkuai_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,311},{97,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,474},{97,99}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{97,99}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>heimei_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,472},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heimei_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,20},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>heitao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,527},{53,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>heitao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>hongtao_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,637},{53,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,49}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>hongtao_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{372,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{372,31}}</string>
                <key>sourceSize</key>
                <string>{384,45}</string>
            </dict>
            <key>king.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,137},{64,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>kueen.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,38},{64,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,97}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>losetxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,410},{173,95}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{173,95}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,167},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>poker_dipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,35},{100,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,130}}</string>
                <key>sourceSize</key>
                <string>{100,130}</string>
            </dict>
            <key>ranker.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,234},{60,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,95}}</string>
                <key>sourceSize</key>
                <string>{64,97}</string>
            </dict>
            <key>shez.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{597,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{597,307}}</string>
                <key>sourceSize</key>
                <string>{597,307}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,35},{496,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,250}}</string>
                <key>sourceSize</key>
                <string>{496,250}</string>
            </dict>
            <key>wintxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,299},{173,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>part3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fcdc5a2c9f0d2a640c2db88fb8104c0$</string>
            <key>textureFileName</key>
            <string>part3.png</string>
        </dict>
    </dict>
</plist>
