<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,877},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>begin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,98},{213,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{213,94}}</string>
                <key>sourceSize</key>
                <string>{225,102}</string>
            </dict>
            <key>begin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{213,94}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{213,94}}</string>
                <key>sourceSize</key>
                <string>{225,102}</string>
            </dict>
            <key>bgabbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,168},{212,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,73}}</string>
                <key>sourceSize</key>
                <string>{212,73}</string>
            </dict>
            <key>chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,932},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,804},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,804},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>chipengganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,674},{405,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{405,84}}</string>
                <key>sourceSize</key>
                <string>{405,86}</string>
            </dict>
            <key>chujichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,115},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,25}}</string>
                <key>sourceSize</key>
                <string>{80,29}</string>
            </dict>
            <key>cut.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,869},{98,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,58}}</string>
                <key>sourceSize</key>
                <string>{98,58}</string>
            </dict>
            <key>dachudepai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{40,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>dachudeshoupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,695},{107,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,144}}</string>
                <key>sourceSize</key>
                <string>{109,146}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,755},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>daojishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,674},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>daojishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,869},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>daojishi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,869},{94,104}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dueifangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,645},{45,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>dueihuakuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{304,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{304,93}}</string>
                <key>sourceSize</key>
                <string>{312,99}</string>
            </dict>
            <key>dueihuakuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,674},{304,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{304,85}}</string>
                <key>sourceSize</key>
                <string>{312,99}</string>
            </dict>
            <key>fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,488},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>fangqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,382},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,869},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,804},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,944},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gaojichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,88},{76,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,25}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>guo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,804},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>guo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,864},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>he.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,881},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>he3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,944},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,658},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>lachucaidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,251},{192,392}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,392}}</string>
                <key>sourceSize</key>
                <string>{192,398}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,881},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,692},{62,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,819},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>resultPanle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{720,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,612}}</string>
                <key>sourceSize</key>
                <string>{720,612}</string>
            </dict>
            <key>roomhelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,969},{52,56}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>roomset.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,923},{56,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{56,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,645},{162,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,48}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,923},{56,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>shijianhefanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,194},{213,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{213,55}}</string>
                <key>sourceSize</key>
                <string>{215,55}</string>
            </dict>
            <key>shoucanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,760},{57,387}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,387}}</string>
                <key>sourceSize</key>
                <string>{61,387}</string>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,980},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,784},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,594},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>ting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,722},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,869},{115,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{115,116}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>tueichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,819},{56,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>xiafanggerenxingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,56}}</string>
                <key>sourceSize</key>
                <string>{800,58}</string>
            </dict>
            <key>xiafanggerenxingxiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,758},{44,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>xiafanggerenxingxizhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,758},{43,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,969},{57,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,52}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>xinshouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,60},{76,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>zhongjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,142},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,24}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,980},{39,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,40}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d90de28f75cfb5f0fab5140cb023f76b$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
