<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bangzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,538},{52,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,55}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,204},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>chi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,67},{69,71}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,73}</string>
            </dict>
            <key>chi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,294},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>chipengganghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{405,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{405,84}}</string>
                <key>sourceSize</key>
                <string>{405,86}</string>
            </dict>
            <key>chujichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,650},{76,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,25}}</string>
                <key>sourceSize</key>
                <string>{80,29}</string>
            </dict>
            <key>dachudepai.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,72},{40,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>dachudeshoupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,865},{107,144}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,144}}</string>
                <key>sourceSize</key>
                <string>{109,146}</string>
            </dict>
            <key>daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{84,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,112}}</string>
                <key>sourceSize</key>
                <string>{84,112}</string>
            </dict>
            <key>daojishi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,700},{82,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,113}}</string>
                <key>sourceSize</key>
                <string>{82,113}</string>
            </dict>
            <key>daojishi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{91,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,105}}</string>
                <key>sourceSize</key>
                <string>{91,105}</string>
            </dict>
            <key>daojishi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,114},{94,104}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,104}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>dueifangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,728},{45,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>dueihuakuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,409},{304,93}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{304,93}}</string>
                <key>sourceSize</key>
                <string>{312,99}</string>
            </dict>
            <key>dueihuakuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,504},{304,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{304,85}}</string>
                <key>sourceSize</key>
                <string>{312,99}</string>
            </dict>
            <key>fangqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,209},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>fangqi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{104,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,63}}</string>
                <key>sourceSize</key>
                <string>{104,63}</string>
            </dict>
            <key>gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,294},{62,63}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{64,63}</string>
            </dict>
            <key>gang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,292},{72,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,69}}</string>
                <key>sourceSize</key>
                <string>{72,69}</string>
            </dict>
            <key>gang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,140},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>gaojichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,650},{76,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{76,25}}</string>
                <key>sourceSize</key>
                <string>{82,27}</string>
            </dict>
            <key>guo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,268},{61,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>guo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,422},{61,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,57}}</string>
                <key>sourceSize</key>
                <string>{61,57}</string>
            </dict>
            <key>he.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,358},{62,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>he3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>hu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,220},{72,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lachucaidan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{192,392}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,392}}</string>
                <key>sourceSize</key>
                <string>{192,398}</string>
            </dict>
            <key>peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,140},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>peng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,220},{72,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>peng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,315},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>roomhelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,480},{52,56}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{52,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>roomset.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,485},{56,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{56,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>shengpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,650},{162,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{162,48}}</string>
                <key>sourceSize</key>
                <string>{168,50}</string>
            </dict>
            <key>shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,422},{56,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,59}</string>
            </dict>
            <key>shijianhefanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,650},{213,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{213,55}}</string>
                <key>sourceSize</key>
                <string>{215,55}</string>
            </dict>
            <key>shoucanglan.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,591},{57,387}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{57,387}}</string>
                <key>sourceSize</key>
                <string>{61,387}</string>
            </dict>
            <key>ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,72},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>touxiangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,650},{115,116}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{115,116}}</string>
                <key>sourceSize</key>
                <string>{123,120}</string>
            </dict>
            <key>tueichu.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,328},{56,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,55}}</string>
                <key>sourceSize</key>
                <string>{60,57}</string>
            </dict>
            <key>wofangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,105}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>xiafanggerenxingxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,56}}</string>
                <key>sourceSize</key>
                <string>{800,58}</string>
            </dict>
            <key>xiafanggerenxingxiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,67},{44,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,43}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>xiafanggerenxingxizhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,204},{43,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>xiaoxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,66},{57,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,52}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>xinshouchang.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,700},{76,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,26}}</string>
                <key>sourceSize</key>
                <string>{82,28}</string>
            </dict>
            <key>zhongjichang.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,767},{76,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,24}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,209},{39,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,40}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82fd0f89439f9669487ad0761524ee6f$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
