<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,282},{42,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,62}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,64}}</string>
                <key>sourceSize</key>
                <string>{45,66}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,160},{41,66}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,66}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{42,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,326},{44,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,52}}</string>
                <key>sourceSize</key>
                <string>{44,52}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,180},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,337},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,116},{42,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,66}}</string>
                <key>sourceSize</key>
                <string>{42,66}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,229},{52,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{45,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,65}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,246},{42,64}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,64}}</string>
                <key>sourceSize</key>
                <string>{44,64}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{41,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,66}}</string>
                <key>sourceSize</key>
                <string>{43,66}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,72},{42,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,68}}</string>
                <key>sourceSize</key>
                <string>{44,68}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,203},{41,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,65}}</string>
                <key>sourceSize</key>
                <string>{43,65}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,112},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,66}}</string>
                <key>sourceSize</key>
                <string>{43,68}</string>
            </dict>
            <key>dueifangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,290},{45,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>o0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,241},{21,30}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,196},{20,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{20,31}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,187},{21,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,31}</string>
            </dict>
            <key>o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,218},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>o31.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,123},{24,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,33}</string>
            </dict>
            <key>o32.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,264},{22,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,27}</string>
            </dict>
            <key>o33.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,288},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{22,24}</string>
            </dict>
            <key>o34.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,302},{21,22}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>o35.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,142},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>o36.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,276},{25,24}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{25,24}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>o37.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,149},{23,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,32}}</string>
                <key>sourceSize</key>
                <string>{23,34}</string>
            </dict>
            <key>o4.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,231},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,30}}</string>
                <key>sourceSize</key>
                <string>{23,32}</string>
            </dict>
            <key>o5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,174},{20,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,31}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>o6.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,210},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{21,31}</string>
            </dict>
            <key>o7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,254},{20,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>o8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,164},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,35}</string>
            </dict>
            <key>out.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>outback.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,57},{38,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>outmarsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,72},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,49}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,105}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>standback.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{68,103}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{68,103}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
            <key>standmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{68,101}}</string>
                <key>sourceSize</key>
                <string>{68,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9e52a377043904ac635f07f29ba61df$</string>
            <key>textureFileName</key>
            <string>mj.png</string>
        </dict>
    </dict>
</plist>
