<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,380},{49,70}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{49,70}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,337},{49,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{49,72}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{47,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{47,76}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{49,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{49,72}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,327},{51,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{51,66}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{51,58}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{51,58}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,164},{55,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{55,54}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{47,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{47,54}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,133},{49,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{49,76}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,220},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,184},{51,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{51,74}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,286},{49,72}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{49,72}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{47,76}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{47,76}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,82},{49,78}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{49,78}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{47,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{47,74}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,237},{47,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{47,74}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>dueifangmajiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,280},{45,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,63}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>o0.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,464},{21,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{21,29}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,380},{21,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o2.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,357},{21,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,334},{21,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o31.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,213},{25,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o32.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,403},{21,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{21,25}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{23,23}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o34.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,487},{21,23}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{21,23}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o35.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,265},{21,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o36.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,403},{25,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o37.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,240},{23,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o4.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,487},{21,29}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{21,29}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o5.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,431},{19,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o6.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,431},{19,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o7.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,311},{21,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>o8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,288},{21,31}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
            <key>out.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,82},{40,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>outback.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,124},{38,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{38,53}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>outmarsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,162},{34,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,49}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{78,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,121}}</string>
                <key>sourceSize</key>
                <string>{78,121}</string>
            </dict>
            <key>standback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{78,117}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,117}}</string>
                <key>sourceSize</key>
                <string>{78,121}</string>
            </dict>
            <key>standmask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,121}}</string>
                <key>sourceSize</key>
                <string>{78,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cb06a0360a2c8baef8b705459716dea$</string>
            <key>textureFileName</key>
            <string>mj.png</string>
        </dict>
    </dict>
</plist>
