<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dasuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{54,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{59,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{59,58}}</string>
                <key>sourceSize</key>
                <string>{67,66}</string>
            </dict>
            <key>huangfei.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{59,59}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{59,59}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>lajiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{64,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{64,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>luobo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{64,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>mogu.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,66},{60,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>qiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{62,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{62,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wandou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{64,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{64,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>xihongshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,132},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>adminsys.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a538e0e22f4dd0fd2c1924d841d3f4c$</string>
            <key>textureFileName</key>
            <string>adminsys.png</string>
        </dict>
    </dict>
</plist>
